<div class="card" >
    <div class="d-flex">
        <div style="font-size: 0.50rem;" class="card-body col-md-4">
            <i class="fa fa-user fa-5x d-none d-lg-block d-md-block"></i>
        </div>
        <div class="card-body col-md-8" >
            <span>{{user.name}}</span>
            <a data-toggle="modal" routerLink='/edit/{{user.id}}'><i class = "fa fa-edit"></i></a>
            <p><i class="fa fa-phone pr-1"></i>{{user.contact}}</p>
            <p><i class="fa fa-map-marker pr-1"></i>{{user.address}}</p>
        </div>
    </div>
</div>
