<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EAd-Session-4&amp;5</display-name>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHelper</servlet-name>
    <servlet-class>com.servlets.UpdateHelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHelper</servlet-name>
    <url-pattern>/UpdateHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendInfo</servlet-name>
    <servlet-class>com.servlets.FriendInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendInfo</servlet-name>
    <url-pattern>/FriendInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
</web-app>