<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile</title>
</head>
<body>
	
	<h1>Edit Profile</h1>

	<form th:action="@{addProfile}" method="post">
		<table>
			<tr>
				<td>Employee Code :</td>
				<td><input type="hidden" name="employeeCode" th:value="${employee.employeeCode}"></td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td><input type="text" name="firstName" th:value="${employee.firstName}"></td>
			</tr>
			<tr>
				<td>Middle Name:</td>
				<td><input type="text" name="middleName" th:value="${employee.middleName}"></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" name="lastName" th:value="${employee.lastName}"></td>
			</tr>
			<tr>
				<td>Date Of Birth:</td>
				<td><input type="date" name="dob" th:value = "${employee.dob}"></td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td><input type="radio" name="gender" value="m" checked> Male</td>
  				<td><input type="radio" name="gender" value="f"> Female</td>
  				<td><input type="radio" name="gender" value="o"> Other</td>
			</tr>
			<tr>
				<td>Primary Contact:</td>
				<td><input type="tel" name="primaryContact" th:value="${employee.primaryContact}"></td>
			</tr>
			<tr>
				<td>Secondary Contact:</td>
				<td><input type="tel" name="secondaryContact" th:value="${employee.secondaryContact}"></td>
			</tr>
			<tr>
				<td>Skype ID:</td>
				<td><input type="text" name="skypeId" th:value="${employee.skypeId}"></td>
			</tr>
			<tr>
				<td>Skills(Press ctrl to select multiple):</td>
				<td><select name="skills" multiple="multiple">
						<option value="n/a" selected="selected">N/A</option>
						<option th:each="skill : ${listOfSkills}" th:value="${skill.name}" th:text="${skill.name}">SkillName</option>
					</select></td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>Change Password:</td>
				<td><input type="hidden" name="oldPassword" th:value="${employee.password}"></td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" name="confirmPassword"></td>
			</tr>
			<tr>
				<td><input type="hidden" name="enabled" th:value="${employee.enabled}"></td>
				<td><input type="hidden" name="email" th:value="${employee.email}"></td>
				<td><input type="submit" value="Update" /></td>
			</tr>
		</table>	
	</form>
</body>
</html>