* {
    font-family: verdana;
}

body {
    background-color: whitesmoke;
}

.signUpFormRow {
    display: flex;
    padding: 15px 0px;
    
}

.signUpTag {
    width: 40%;
    text-align: right;
    padding-right: 15px;
}

.signUpIconAndContent {
    width: 60%;
}

.singUpIcon {
    min-width: 20px;
    border:2px solid lightgray;
    padding: 5px;
    border-radius: 3px;
}

#signUpSubmit {
    background-color: #EC9832;
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 30px;
    color: white;
}

.signUpIconAndContent input, select, option {
    border-color:lightgray;
    border-radius: 3px;
    width:270px;
    height:25px;
}

.signUpIconAndContent textarea {
     border-color:lightgray;
    border-radius: 3px;
    width:270px;
    height:50px;
}

.signUpIconAndContent input[type = 'radio'], span {
    width: 20px;
    height: 15px;
}

.signUpIconAndContent input:invalid ,textarea:invalid {
    border: 2px solid red;
}

.signUpIconAndContent input[type='number']::-webkit-inner-spin-button
,input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}