<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head lang="en">
    <title>Dashboard</title>
</head>
<body>
	<div class="container">
	    <a th:href = "@{addEmployee}">Add Employee</a><br>
		<a th:href = "@{jobTitle}">Add Job Title</a><br>
		<a th:href = "@{skills}">Add Skills</a><br>
		<a th:href = "@{project}">Add Project</a><br>
		<a th:href = "@{searchEmployee}">Search Employee</a><br>
		<a th:href = "@{allProjects}">All Projects</a><br>
		<a th:href = "@{allSkills}">All Skills</a><br>
		<a th:href = "@{allJobs}">All Jobs</a><br>
		<a th:href= "@{../logout}">Logout</a>
	</div>
</body>
</html>