#headerContainer {
    background-image: url(images/homebg.png);
    background-size: cover;
}

.header > div {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding-top: 15px;
}

.headerSocial > img {
    height: 20px;
}

body {
    margin: 0;
}

#funApp > div {
    display: inline-block;
    padding-top: 150px;
    width = 40%;
    text-align: left;
    vertical-align: top;
    color: white;
    box-sizing: border-box;
}

#downloadButton {
    background-color: #FC6A45;
}

#featureButton {
    background-color: #4563C5; 
}

#headerAnchors > a {
    text-decoration: none;
    color : white;
    margin: 0px 5px;
    font-family: verdana;
}

#funAppButtons > a {
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 5px;
}

#funAppButtons {
    padding-left: 40px;
}

#funAppImage > img {
    width: 60%;
}

.featuresInlineDiv {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.featuresInlineDiv > div {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#footerContainer {
    background-color: #383a53;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#footerContainer  a {
    color: white;
    text-decoration: none;
    font-family: verdana;
}

#footer > div{
    display: inline-block;
    text-align:center;
    width: 33%;
    height: 160px;
}

.heading {
    text-align: center;
    margin-bottom: 70px;
}

.screenShotInlineDiv {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.reviewInlineDiv {
    display: inline-block;
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
}

.siteContent {
    margin: 0 80px;
    background-image: url(images/bodybg.png);
}

.siteContent h2 {
    color: #6388fb;
    padding-top: 70px;
}

.siteContent p {
    color: #a09eaa;
}

.downloadInlineDiv {
    display: inline-block;
    width: 49%;
}

.downloadInlineDiv > img {
    width: 70%;
}

.featureContentDiv p {
    text-align: left;
    font-size: 13px;
}

#downloads {
    padding: 70px 70px 0px 70px;
    color: white;
    background-image: url(images/homebg.png);
}

.reviewInlineDiv p:first-child {
    color: black;
    font-family: verdana;
    font-weight: bold;
}