*{
    border: 1px solid black;
}

#headerContainer {
    background-image: url(images/homebg.png);
    background-size: cover;
    padding-bottom: 140px;
}

header {
    display: flex;
    background-image: url(images/homebg.png);
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.8;
}

.headerSocial > img {
    height: 20px;
}
header a {
    text-decoration: none;
    color: white;
    font-family: verdana;
}

body {
    margin: 0;
}

#funApp{
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    vertical-align: top;
    color: white;
}

#funAppButtons {
    margin-left: 50px;
    width: 40%;
}

#funAppImage {
    width: 60%;
    text-align: center;
}

#downloadButton {
    background-color: #FC6A45;
}

#featureButton {
    background-color: #4563C5; 
}

#headerAnchors > a {
    text-decoration: none;
    color : white;
    margin: 0px 5px;
    font-family: verdana;
}

#funAppButtons > a {
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 5px;
}

#funAppButtons {
    padding-left: 40px;
}

#funAppImage > img {
    width: 60%;
}

.featuresInlineDiv {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.featuresInlineDiv > div {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#footerContainer {
    background-color: #383a53;
    text-align: center;
    padding-top: 30px;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    vertical-align: top;
}
footer a {
    text-decoration: none;
    color: white;
    font-family: verdana;
}

.heading {
    text-align: center;
    margin-bottom: 70px;
}

.screenShotInlineDiv {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    position: relative;
}

.reviewInlineDiv {
    display: inline-block;
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
}

.siteContent {
    margin: 0 80px;
    background-image: url(images/bodybg.png);
}

.siteContent h2 {
    color: #6388fb;
    padding-top: 70px;
}

.siteContent p {
    color: #a09eaa;
}

.downloadInlineDiv {
    display: inline-block;
    width: 49%;
}

.downloadInlineDiv > img {
    width: 80%;
}

.featureContentDiv p {
    text-align: left;
    font-size: 13px;
}

#downloads {
    padding: 70px 70px 0px 70px;
    color: white;
    background-image: url(images/homebg.png);
}

.reviewInlineDiv p:nth-child(2) {
    color: black;
    font-family: verdana;
    font-weight: bold;
}

.setWidth60 {
    width: 60%;
}

.setWidth100 {
    width: 100%;
}

.reviewQuoteEnder {
    float: right;
}

.weatherInCircle {
    color: white;
    text-align: center;
    height: 10%;
    width: 20%;
    background-color: skyblue;
    z-index: 1;
    border-radius: 100%;
    position: absolute;
    left:50%;
    top:25%;
    padding-top: 30px;
}

.degreeInCircle {
    color: white;
    text-align: center;
    height: 10%;
    width: 20%;
    background-color: lightsalmon;
    z-index: 1;
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top:60%;
    padding-top: 30px;
}