<main class="container row p-3">

    <aside id="sidebar-wrapper col-lg-3">
        <ul class="sidebar-nav list-unstyled">
            <li class="p-2 border rounded">
                <a href="#!category/">All Categories</a>
            </li>
            <li class="p-2 border rounded">
                <a href="#!category/bread">Bread</a>
            </li>
            <li class="p-2 border rounded">
                <a href="#!category/dairy">Diary</a>
            </li>
            <li class="p-2 border rounded">
                <a href="#!category/fruits">Fruits</a>
            </li>
            <li class="p-2 border rounded">
                <a href="#!category/seasoning">Seasoning and Spices</a>
            </li>
            <li class="p-2 border rounded">
                <a href="#!category/vegetables">Vegetables</a>
            </li>
        </ul>
    </aside>    
    <section ng-controller="itemController" class="d-flex flex-wrap col-lg-9">
        <div ng-repeat="item in items |filter: categoryName" class="card col-lg-5 col-sm-12 m-3">
            <div class="card-body">
                <img style="height: 200px;" ng-src={{item.imagePath}} class="col-12"/>
                <p class="font-weight-bold text-capitalize">{{item.item}}</p>
                <p>Price: {{item.price}} bucks</p>
                <button class="btn btn-secondary btn-lg btn-block rounded-bottom" ng-click="addCart(item)">ADD TO CART</button>
            </div>
        </div>
    </section>
</main>