<div class="modal" style="padding-right: 17px; display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <span class="modal-title text-center">Add User</span>
                <button type="button" class="close" (click)="goBack()">&times;</button>
            </header>
            <section class="modal-body">
                <form class="p-3" (ngSubmit)="addUser()">
                    Name<div><input class = "col-12 rounded" type="text" [(ngModel)]="user.name" name="name" required>
                    </div>
                    Contact<div><input class = "col-12 rounded" type="number" [(ngModel)]="user.contact" name="contact" required>
                    </div>
                    Address<div><input class = "col-12 rounded" type="text" [(ngModel)]="user.address" name="address" required>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-light" (click)="goBack()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
