<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head lang="en">
    <title>Search Employee</title>
</head>
<body>
	<form th:object = "${criteria}" th:action="@{searchEmployee}" method="post">
			 <label>SearchBy:</label> 
			 	<select>
				    <option th:each="state : ${T(com.metacube.training.Enum.SearchBy).values()}"
				            th:value="${state}"
				            th:text="${state}">
    				</option>	
				</select>		
			<button type="submit" class="btn btn-primary">Search</button>

		</form>
</body>
</html>