<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head lang="en">
    <title>Search Employee</title>
</head>
<body>
	<form th:object="${project}" th:action="@{project}" method="post">
			<input type="hidden"  th:field="*{projectId}" />
			<br>
			 <label>SearchBy:</label> 
			 <td><select th:field="*{}">
							<option value="n/a">N/A</option>
							<option th:each="employee : ${listOfEmployees}" th:value="${employee.employeeCode}" th:text="${employee.employeeCode}">EmployeeCode</option>
						</select></td>
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
</body>
</html>